.contact {
  &__container {
    padding-bottom: 3rem;
  }

  &__desc {
    text-align: center;
  }

  &__content {
    row-gap: 0.75rem;
  }

  &__address {
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
  }

  &__information {
    color: var(--text-color);
    font-weight: initial;
  }
}